<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="${share_uid}">
    <!-- android:sharedUserId="android.uid.system" -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.SET_TIME"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SET_TIME_ZONE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BROADCASTS" />
    <uses-permission
        android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.STATUS_BAR_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTv"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        android:directBootAware="true">
        <activity
            android:name=".SplashActivity"
            android:exported="true" >



        </activity>
        <!-- 自定义元数据 -->
        <meta-data
            android:name="tcl_app_key"
            android:value="your key" />
        <meta-data
            android:name="partner_name"
            android:value="xxxx" />

        <activity
            android:name=".ui.activity.UpdateLauncherActivity"
            android:exported="false"
            android:theme="@style/Theme.Chihi.LeanbackPreferences" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:banner="@drawable/banner"
            android:theme="@style/Theme.Splash"
            android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|orientation|screenLayout|uiMode|screenSize|navigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|orientation|screenLayout|uiMode|screenSize|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:exported="true"
            android:configChanges="locale|layoutDirection|screenSize|keyboardHidden"
            android:taskAffinity="com.soya.launcher.ui.activity.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.AppsActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|orientation|screenLayout|uiMode|screenSize|navigation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.WallpaperActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.LanguageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.GradientActivity"
            android:exported="true"
            android:taskAffinity="com.soya.launcher.ui.activity.GradientActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.SetDateActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.ProjectorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.WifiListActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".ui.activity.ScaleScreenActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.activity.ChooseGradientActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.HomeGuideGroupGradientActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.activity.NetActivity" />
        <activity
            android:name=".ui.activity.InstallModeActivity"
            android:exported="false"
            android:theme="@style/Theme.Chihi.LeanbackPreferences" />
        <activity
            android:name=".ui.activity.UpdateAppsActivity"
            android:exported="false"
            android:theme="@style/Theme.Chihi.LeanbackPreferences" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.AppService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:process=":app_progress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".service.OutsideBroadcast"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.store.download.apk" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.broadcast.AppStateChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>