<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- android:sharedUserId="android.uid.system" -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REBOOT" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SET_TIME" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BROADCASTS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <!--<queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated ="true"
        android:preserveLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.MyTv">

        <meta-data
            android:name="com.soya.launcher.bean.MyGlide"
            android:value="AppGlideModule" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:banner="@drawable/banner"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:logo="@drawable/banner"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.WeatherActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.soya.launcher.ui.activity.CityActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.soya.launcher.ui.activity.MoviceListActivity" android:screenOrientation="landscape" />
        <activity android:name="com.soya.launcher.ui.activity.SearchActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.soya.launcher.ui.activity.SettingActivity" android:screenOrientation="landscape" />
        <activity android:name="com.soya.launcher.ui.activity.AppsActivity" android:screenOrientation="landscape" />
        <activity android:name="com.soya.launcher.ui.activity.LoginActivity" android:screenOrientation="landscape" />
        <activity android:name="com.soya.launcher.ui.activity.AboutActivity" android:screenOrientation="landscape" />
        <activity android:name="com.soya.launcher.ui.activity.WallpaperActivity" android:screenOrientation="landscape" />
        <activity android:name="com.soya.launcher.ui.activity.UpgradeActivity" android:screenOrientation="landscape" />
        <activity android:name="com.soya.launcher.ui.activity.GuideActivity" />
        <activity android:name="com.soya.launcher.ui.activity.LanguageActivity" />
        <activity android:name="com.soya.launcher.ui.activity.GradientActivity" />
        <activity android:name="com.soya.launcher.ui.activity.SetDateActivity" />
        <activity android:name="com.soya.launcher.ui.activity.ProjectorActivity" />
        <activity
            android:enabled="true"
            android:name="com.soya.launcher.ui.activity.WifiListActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.soya.launcher.ui.activity.ScaleScreenActivity" />
        <activity android:name="com.soya.launcher.ui.activity.BluetoothActivity" />
        <activity android:name="com.soya.launcher.ui.activity.RemoteControlActivity" />
        <activity android:name="com.soya.launcher.ui.activity.ChooseGradientActivity" />
        <activity android:name="com.soya.launcher.ui.activity.HomeGuideGroupGradientActivity" />

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <service
            android:name=".service.AppService"
            android:directBootAware="true"
            android:enabled="true"
            android:process=":app_progress"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:directBootAware="true"
            android:exported="true"
            android:enabled="true"
            android:name="com.soya.launcher.service.OutsideBroadcast" >
            <intent-filter>
                <action android:name="android.intent.action.store.download.apk"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>